@import '_normalize.scss';
@import '../fonts/Gilroy/gilroy.css';
@import '../fonts/Kudryashev/kudryashev.css';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__item {
    min-width: 1200px;
    font-family: Gilroy;
    font-weight: bold;
    color: #1e0f00;
    background-image: url("../img/blue_rectangle.png"), url("../img/yellow_rectangle.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 955px 2762px, 1138px 2094px;
    background-blend-mode: multiply;
    header {
      margin: 40px auto;
      max-width: 1200px;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: #1e0f00;
        img.logo {
          width: 99px;
          height: 37px;
          &:active {
            position: relative;
            top: 1px;
          }
        }
      }
      ul.menu {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 48px;
        min-width: 500px;
        li.menu__item {
          a.menu__link {
            padding: 5px;
            &:hover {
              border-bottom: 1px solid black;
            }
          }
        }
      }
      a.number {
        margin-left: auto;
        display: flex;
        min-width: 165px;
        img {
          margin: 0 10px;
        }
      }
      button.search {
        background: url("../img/Vector_Smart_Object.svg") no-repeat 50%;
        outline: none;
        border: none;
        height: 15px;
        width: 14px;
        margin: 0 40px;
        &:active {
          position: relative;
          top: 1px;
        }
      }
    }
    .description {
      margin: 90px auto 145px;
      width: 1200px;
      overflow: hidden;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        min-height: 675px;
        width: 1200px;
        display: block;
        opacity: 0;
        background-color: #7ed0dd;
        animation: miniature 8s linear 1s normal;
      }
      video {
        height: 675px;
      }
      .description__about, h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        z-index: 1;
        text-align: left;
        margin: 130px 170px;
        min-height: 406px;
        color: #ffffff;
        mark {
          color: #ffffff;
          background: transparent;
          font-family: "Gilroy-Extrabold";
          word-spacing: 1px;
        }
      }
      .description__about {
        max-width: 580px;
        z-index: 2;
        animation: about 8s linear 1s normal;
        p {
          max-width: 420px;
        }
      }
      h1 {
        font-size: 80px;
        line-height: 100px;
        word-spacing: 0.1px;
        font-family: "Kudryashev";
        font-weight: 400;
        opacity: 0;
        animation: title 8s linear 1s normal;
      }
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.91);
      overflow: auto;
      .form {
        display: flex;
        flex-direction: column;
        z-index: 11;
        max-width: 380px;
        padding: 41px 75px 60px;
        margin: 100px auto 0;
        background-color: #2d449e;
        color: #ffffff;
        &__title {
          font-family: "Gilroy-Extrabold";
          font-size: 34px;
          font-weight: 800;
          line-height: 40px;
        }
        &__label {
          display: flex;
          flex-direction: column;
          height: 60px;
          justify-content: flex-end;
          font-weight: 400;
          transition: 0.1s ease-out;
          span {
            display: block;
            height: 2px;
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
        &__input {
          background: transparent;
          border: none;
          outline: none;
          height: 3px;
          padding-bottom: 9px;
        }
        &__label:focus-within, &__label_focused {
          font-size: 12px;
          line-height: 20px;
          color: #7987c1;
          transition: 0.3s ease-out;
          span {
            background-color: rgba(255, 255, 255, 1);
          }
          input {
            color: #fff;
            font-size: 16px;
            height: 21px;
          }
        }
        &__rules {
          color: #abb6e4;
          font-size: 12px;
          line-height: 18px;
          margin: 30px 0;
          a {
            color: #fff;
            text-decoration: none;
          }
          a:hover {
            border-bottom: 1px solid #fff;
          }
        }
        &__button {
          padding: 15px 20px;
          color: #2d449e;
          background: #fff;
          border: none;
          margin-right: auto;
          transition: .3s;
          &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
          }
        }
      }
    }
    .solutions {
      width: 100%;
      display: flex;
      justify-content: center;
      background-image: linear-gradient(to top, #f3f3f3 0%, #e8e8e8 100%);
      .solutions__wrapper{
        padding: 54px 360px 187px;
        min-width: 1200px;
        ul.filter {
          display: flex;
          list-style: none;
          padding: 0;
          font-family: "Kudryashev";
          font-size: 26px;
          font-weight: 400;
          margin-bottom: 50px;
          li.filter__item {
            padding: 5px 20px;
            margin-right: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            border: 1px solid transparent;
            span {
              position: absolute;
              display: block;
              transition: 0.4s ease-out;
              background: #1e0f00;
            }
            span:nth-child(1) {
              top: 0;
              left: 100%;
              width: 100%;
              height: 1px;
              transition-delay: 0.4s;
            }
            &:hover {
              span:nth-child(1){
                left: 0;
              }
            }
            span:nth-child(3) {
              bottom: 0;
              right: 100%;
              width: 100%;
              height: 1px;
              transition-delay: 0.4s;
            }
            &:hover {
              span:nth-child(3){
                right: 0;
              }
            }
            span:nth-child(2) {
              top: 100%;
              right: 0;
              width: 1px;
              height: 100%;
            }
            &:hover {
              span:nth-child(2){
                top: 0;
              }
            }
            span:nth-child(4) {
              bottom: 100%;
              left: 0;
              width: 1px;
              height: 100%;
            }
            &:hover {
              span:nth-child(4){
                bottom: 0;
              }
            }
          }
          li.filter__item_active {
            border: 1px solid #1e0f00;
            &:hover {
              span{
                display: none;
              }
            }
          }
        }
        .solutions__container {
          display: flex;
          flex-wrap: wrap;
          margin: -10px -10px;
          .solution {
            display: none;
            width: 143px;
            height: 140px;
            padding: 20px;
            background-color: #ffffff;
            flex-direction: column;
            margin: 0 10px 20px;
            cursor: pointer;
            &:hover {
              background-color: #1b1b1b;
              color: #ffffff;
            }
            h4.solution__title {
              font-size: 16px;
              font-family: Gilroy-ExtraBold;
              font-weight: 800;
              margin: 0;
            }
            p.solution__article {
              font-size: 12px;
            }
            button.solution__button {
              display: block;
              width: 20px;
              height: 11px;
              margin-top: auto;
              border: none;
              outline: none;
              background: url("../img/arrow.png");
              &:active {
                position: relative;
                left: 2px;
              }
            }
            &:hover button.solution__button{
              background: url("../img/arrow_hover.png");
            }
          }
          .solution_chosen {
            display: flex;
            animation: .6s zoom-in;
          }
        }
      }
    }
    .advantages {
      width: 1200px;
      margin: 145px auto 50px;
      position: relative;
      &__wrapper {
        height: 130px;
        max-width: 257px;
        display: flex;
        align-items: flex-end;
      }
      .advantages__container {
        display: flex;
        margin-top: 90px;
        .advantages__item {
          width: calc(100% / 4);
          position: relative;
          img {
          }
          h3 {
            border-top: 2px solid #1e0f00;
            border-bottom: 2px solid #1e0f00;
            font-size: 26px;
            line-height: 30px;
            font-family: "Kudryashev";
            font-weight: 400;
            padding: 20px 0;
            margin: 40px 0 20px;
            mark {
              display: block;
              background: transparent;
              font-family: "Gilroy-Extrabold";
            }
          }
          p {
            font-size: 16px;
            line-height: 26px;
          }
          &:before {
            content: '';
            position: absolute;
            display: block;
          }
        }
        .advantages__item:nth-child(1) {
          &:before {
            background: url("../img/advantages/start.png") no-repeat 50% 50%;
            width: 63px;
            height: 70px;
            top: 34px;
            left: 64px;
          }
          p {
            max-width: 195px;
          }
        }
        .advantages__item:nth-child(2) {
          &:before {
            background: url("../img/advantages/integration.png") no-repeat 50% 50%;
            width: 90px;
            height: 74px;
            top: 35px;
            left: -20px;
          }
          p {
            max-width: 229px;
          }
        }
        .advantages__item:nth-child(3) {
          &:before {
            background: url("../img/advantages/pay.png") no-repeat 50% 50%;
            width: 53px;
            height: 70px;
            top: 33px;
            left: 87px;
          }
          p {
            max-width: 253px;
          }
        }
        .advantages__item:nth-child(4) {
          &:before {
            background: url("../img/advantages/discuss-issue.png") no-repeat 50% 50%;
            width: 70px;
            height: 65px;
            top: 37px;
            left: -2px;
          }
          p {
            max-width: 256px;
          }
        }
      }
    }
    .how-its-works {
      width: 1179px;
      margin: 150px auto 380px;
      background: url("../img/bg-phone.png") no-repeat 100%;
      ol.how-its-works__list {
        max-width: 315px;
        font-size: 16px;
        line-height: 26px;
        border-top: 2px solid #1e0f00;
        padding: 35px 0 0;
        margin-left: 80px;
        list-style: none;
        counter-reset: count;
        li.how-its-works__step {
          margin-bottom: 30px;
          counter-increment: my-awesome-counter;
          display: flex;
        }
        li.how-its-works__step:before {
          content: counter(my-awesome-counter) '';
          display: block;
          margin-right: 15px;
        }
      }
      p {
        margin-left: 100px;
        max-width: 220px;
        font-size: 13px;
        line-height: 20px;
        a {
          text-decoration: none;
          color: #19459d;
        }
      }
    }
    footer {
      width: 100%;
      background: url("../img/pink_circles.png") no-repeat 75% 100%, url("../img/dot.png"), linear-gradient(-3deg, #1b1b1b 0%, #2c2c2c 84%, #363636 100%);
      display: flex;
      justify-content: center;
      .about {
        margin: 120px 0;
        h2.about__title {
          mark {}
        }
        p.about__article {
          max-width: 380px;
        }
        button.about__begin {}
      }
    }
    .about {
      max-width: 880px;
      color: #ffffff;
      h2.about__title {
        font-size: 51px;
        line-height: 56px;
        word-spacing: 0.1px;
        font-family: "Kudryashev";
        font-weight: 400;
        margin: 0;
      }
      mark {
        display: block;
        color: #ffffff;
        background: transparent;
        font-family: "Gilroy-Extrabold";
        word-spacing: 1px;
      }
      p.about__article {
        font-size: 20px;
        font-weight: 300;
        margin: 60px 0 65px;
      }
      button.about__begin {
        padding: 19px;
        color: black;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.4px;
        line-height: 22px;
        align-self: flex-start;
        min-width: 220px;
        background-color: #ffffff;
        border: none;
        outline: none;
        &::after {
          content: "";
          height: 11px;
          width: 20px;
          margin-left: 13px;
          background: url("../img/arrow.png");
          display: inline-block;
        }
      }
    }
    h2.title {
      font-size: 44px;
      font-family: Gilroy-ExtraBold;
      line-height: 55px;
    }
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(.1);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes about {
  0%{
    opacity: 1;
  }
  13%{
    opacity: 0;
  }
  90%{
    opacity: 0;
    top: 50px;
  }
  100%{
    opacity: 1;
    top: 0;
  }
}

@keyframes miniature {
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  15%{
    opacity: 1;
    transform: translateX(-100%);
  }
  25%{
    opacity: 1;
    transform: translateX(100%);
  }
  50%{
    opacity: 0;
    transform: translateX(100%);
  }
  100%{
    opacity: 0;
  }
}

@keyframes title {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 0;
  }
  25%{
    opacity: 0;
    top: 50px;
  }
  30%{
    opacity: 1;
    z-index: 3;
    top: 0;
  }
  70%{
    opacity: 1;
    z-index: 3;
    top: 0;
  }
  90%{
    opacity: 0;
    top: -50px;
  }
  100%{
    opacity: 0;
    top: 0;
  }
}

